<%= form_for(@sprint) do |f| %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :objective %><br>
    <%= f.text_field :objective %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.date_select :to %>
  </div>
  <div class="field">
    <%= f.label :stories %><br>
    <%= f.text_field :stories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
