<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team members</th>
      <th>Client</th>
      <th>Master</th>
      <th>Stories</th>
      <th>Sprints</th>
      <th>Velocity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.team_members %></td>
        <td><%= project.client %></td>
        <td><%= project.master %></td>
        <td><%= project.stories %></td>
        <td><%= project.sprints %></td>
        <td><%= project.velocity %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
