<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Detail</th>
      <th>User</th>
      <th>Points</th>
      <th>Position</th>
      <th>Epic</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.summary %></td>
        <td><%= story.detail %></td>
        <td><%= story.user %></td>
        <td><%= story.points %></td>
        <td><%= story.position %></td>
        <td><%= story.epic %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
